table{

width:100%;

border-collapse:collapse;

margin-top:20px;

}

th{

background:#0b2d5c;

color:white;

padding:12px;

}

td{

padding:10px;

border-bottom:1px solid #ddd;

text-align:center;

}

#buscarGuardia{

width:320px;

padding:10px;

border-radius:8px;

border:1px solid #bbb;

}

#btnNuevoGuardia{

background:#0b2d5c;

color:white;

padding:12px 20px;

border:none;

border-radius:8px;

cursor:pointer;

font-size:15px;

}
