*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0d0d0d;
    color:#f5f5f5;
    font-family:Segoe UI,Arial,sans-serif;
}

.encabezado{
    background:#000;
    color:white;
    padding:18px 40px;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    gap:25px;
    border-bottom:4px solid #d4af37;
}

.encabezado h1{
    font-size:38px;
    margin:0;
}

.encabezado p{
    margin-top:6px;
    color:#d4af37;
    font-size:18px;
    letter-spacing:1px;
    
}

.contenedor{
    max-width:950px;
    margin:40px auto;
    padding:20px;
}

.tarjeta{
    background:#181818;
    border-radius:18px;
    padding:35px;
    box-shadow:0 10px 30px rgba(0,0,0,.12);
}

.tarjeta h2{
    color:#d4af37;
    margin-bottom:30px;
}

label{
    display:block;
    margin-top:18px;
    margin-bottom:8px;
    font-weight:bold;
}

input,
select{
    width:100%;
    padding:14px;
    border:1px solid #333;
    background:#111;
    color:white;
    border-radius:10px;
    font-size:16px;
}

input:focus,
select:focus{
    outline:none;
    border-color:#d4af37;
}

.botones{
    display:flex;
    gap:15px;
    margin-top:35px;
}

button{
    flex:1;
    padding:16px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:17px;
    font-weight:bold;
}

button[type="submit"]{
    background:#d4af37;
    color:000;
}

button[type="submit"]:hover{
    background:#c29d28;
}

button[type="reset"]{
    background:#333;
    color:#white;
}

button[type="reset"]:hover{
    background:#444;
}

@media(max-width:700px){

.botones{
    flex-direction:column;
}

}

.logo img{
    width:90px;
    height:auto;
}

.titulo{
    display:flex;
    flex-direction:column;
}
