<div class="sidebar">

    <div class="logo">

        <h2>🛡️ ERMA</h2>

        <span>Sistema Operativo</span>

    </div>

    <nav>

        <a href="../admin/dashboard.html">
            🏠 Dashboard
        </a>

        <a href="../admin/clientes2.html">
            👥 Clientes
        </a>

        <a href="../admin/guardias2.html" class="activo">
            👮 Guardias
        </a>

        <a href="#">
            📍 Rondines
        </a>

        <a href="#">
            📄 Incidencias
        </a>

        <a href="#">
            💰 Recibos
        </a>

        <a href="#">
            📦 Inventario
        </a>

        <a href="#">
            👔 Supervisores
        </a>

        <a href="#">
            ⚙️ Configuración
        </a>

    </nav>

</div>
